bidtogo.ca {
	handle /api/agent/* {
		reverse_proxy scraper-api:8001
	}
	handle /api/analysis/* {
		reverse_proxy scraper-api:8001
	}
	handle /api/scraper/* {
		reverse_proxy scraper-api:8001
	}
	handle {
		reverse_proxy app:3000
	}
}
